<template>
  <div id="app">
    <div class="hero is-white is-gradient is-bold">
      <div class="hero-body">
        <h1 class="title">
          <span class="has-text-success">R&M</span>
          <span class="subtitle">Personajes</span>
        </h1>

        <div class="field has-addons is-pulled-right">
          <div class="control">
            <input
              v-model="search"
              type="text "
              class="input is-rounded"
              v-on:keyup.enter="searchData();"
            />
          </div>

          <div class="control">
            <button class="button is-success is-rounded" v-on:click="searchData();">Buscar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="columns is-desktop is-mobile is-multiline is-tablet is-centered">
        <character
          @showModal="showModal"
          :character="character"
          v-for="character of characters"
          :key="character.id"
        />
      </div>

      <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous" v-on:click="changePage(convertido - 1);">Previous</a>
        <a class="pagination-next" v-on:click="changePage(convertido + 1);">Next page</a>
        <ul class="pagination-list">
          <li>
            <a class="pagination-link" aria-label="Goto page 1">{{convertido}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
//importar librerias
import axios from "axios";

import Character from "./components/Character";

export default {
  name: "app",
  components: {
    Character, //character
  },
  data: function () {
    return {
      characters: [],
      page: 1,
      pages: 1,
      url: "",
      ultimo: "",
      convertido: 0,
      search: "",
      modal: false,
      currentCharacter: {}
    };
  },
  created() {
    this.fetch();
  },
  methods: {
    fetch: function () {
      const params = {
        page: this.convertido,
        name: this.search,
      };
      //llamada HTTP
      let result = axios
        .get("https://rickandmortyapi.com/api/character/", { params })
        .then((res) => {
          this.characters = res.data.results;
          this.pages = res.data.info.pages;
          this.page = res.data.info;
          this.url = this.page.next;
          this.ultimo = this.url.substr(this.url.length - 1);
          this.convertido = parseInt(this.ultimo) - 1;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    changePage(convertido) {
      this.convertido =
        convertido <= 0 || convertido > this.pages
          ? this.convertido
          : convertido;
      console.log("entraste a changePage" + convertido);
      this.fetch();
    },
    searchData() {
      this.convertido = 1;
      this.fetch();
    },
    //Estoy trbajando con esta parte, aún me da error 
    showModal(id) {
      // id
      // fetchOne
      this.fetchOne(id);
    },
    async fetchOne(id) {
      //llamada HTTP
      let result = await axios.get(
        `https://rickandmortyapi.com/api/character/${id}/`
      )
      this.currentCharacter = result.data;
      this.modal = true;
      console.log(this.currentCharacter, "personaje");
      
    },
  },


};
</script>

